/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
}

img {
    width: 100%;
}


/* Header */

header {
    background-color: #ffffff;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 1px 3px 0px #999;
}

header ul {
    display: flex;
    gap: 40px;
    align-items: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}


.inizia {
    text-align: right;
    background-color: #0061fe;
    color: #ffffff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}

.inizia:hover {
   filter: brightness(1.4);
}

/* main */

#jumbotron {
    background-color: #b4d0e6;
    margin-bottom: 150px;
}

#jumbotron .jumboinfo {
    display: flex;
}

#jumbotron .jumboleft {
    width: 30%;
}

#jumbotron .container {
    position: relative;
    top: 100px;
}